<div class="list-group-item list-group-item-action"
  [ngClass]="{
    'list-group-item-danger': car.disabled
  }"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{car.name}}</h5>
    <!-- <small>3 days ago</small> -->
  </div>
  <p class="mb-1">
    {{car.model}}
  </p>
  <button
    (click)="onDelete()"
    [disabled]="car.disabled"
    type="button"
    class="btn btn-outline-danger"
  >Delete</button>
  <button
    (click)="onDisabled()"
    [disabled]="car.disabled"
    type="button"
    class="btn btn-outline-secondary"
  >Disabled</button>
  <button
    *ngIf="car.disabled"
    (click)="onDisabled()"
    type="button"
    class="btn btn-outline-info"
  >Enabled</button>
</div>
